/Moops - Open Sourced/Logs/
/Moops - Open Sourced/Sessions/*.mse
/Moops - Open Sourced/*.dcu
/mwEdit/*.dcu
/RX/Units/*.dcu
/winshoes/Winshoes/*.dcu
*.~pas
/Moops - Open Sourced/Commander/*.dcu
*.~dpr
*.~bpg
